.sf-table {
  max-width: 100%;

  tr:first-child {
    font-weight: bold;
  }
  td, th {
    text-align: center;
    padding: .1rem .2rem;
  }
  .jsf-valid {
    background-color: rgba(0,255,0,0.05);

    .icon-checkmark {
      display: block;
    }
    .icon-cross {
      display: none;
    }
  }
  .jsf-invalid {
    background-color: rgba(255,0,0,0.05);

    .icon-checkmark {
      display: none;
    }
    .icon-cross {
      display: block;
    }
  }
  .sf-table-row {
    &.is--not-highlighted {
      font-weight: normal !important;
    }
  }

  input {

  }
}
