$modal-z-index: 900;

.sf-modal {
  z-index: $modal-z-index;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 500ms;
  overflow-x: hidden;
  overflow-y: visible;

  &.jsf-opening {
    display: block;
  }

  &.jsf-open {
    display: block;
    opacity: 1;
  }

  &.jsf-closed {
    display: none;
    opacity: 1;
  }

  &__palette,
  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &__palette {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 2rem 0 5rem 0;
  }

  &__content {
    position: relative;
    z-index: $modal-z-index + 20;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__cross {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }
  }

  &__box {
    display: none;
    box-sizing: border-box;
    background-color: white;
    border-radius: .5rem;
    max-width: 94vw;
    padding: .6rem 1.2rem 3rem 1.2rem;

    &.jsf-closed {
      display: none;
    }

    &.jsf-open {
      display: block;
    }
  }

  &__shadow {
    position: absolute;
    z-index: $modal-z-index + 10;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
}
